{% extends 'base.html' %}

{% block title %} {{ episode_name }} | TVnderful {% endblock %}

{% block main %}
    <div class="card">
        <div class="card-header">
            <h2>{{ episode_name }} ({{ episode_season }}x{{ episode_number}})</h2>
        </div>
        <div class="card-body">
            <div class="media">
                <img src="{{ episode_image }}" class="mr-3 mb-3" alt="{{ episode_name }}">
                <div class="media-body">
                    <span><b>Airdate: </b><p>{{ episode_airdate }}</p></span>
                    <span><b>Summary:</b>{{ episode_summary | safe }}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}