{% extends 'base.html' %}

{% block title %} {{ episode_name }} {% endblock %}

{% block main %}
    <div class="card">
        <div class="card-header">
            <h2>{{ episode_name }} ({{ episode_season }}x{{ episode_number}})</h2>
        </div>
        <div class="card-body">
            <div>
               <img src="{{ episode_image }}" alt="{{ episode_name }}">
            </div>
            <p><b>Airdate: </b><p>{{ episode_airdate }}</p></p>
            <span><b>Summary:</b>{{ episode_summary | safe }}</span>

        </div>
    </div>
{% endblock %}