{% extends 'base.html' %}

{% block title %} TVnderful {% endblock %}

{% block main %}
    <h1>{{ series_name }}</h1>
    <hr>
    {{ series_summary | safe }}
    <p><b>Network: </b>{{ series_network }}</p>
    <p><b>Number of episodes: </b>{{ series_episode | length }}</p>

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Season</th>
            <th>Episode</th>
            <th>Airdate</th>
        </tr>
        {% for episode in series_episode %}
        <tr>
            <td><a href="{% url 'episode_detail' episode.id %}">{{ episode.name }}</a></td>
            <td>{{ episode.season }}</td>
            <td>{{ episode.number }}</td>
            <td>{{ episode.airdate }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}