{% extends 'base.html' %}

{% block title %} TVnderful {% endblock %}

{% block main %}

    <div class="alert alert-primary text-center" role="alert">
        <h1>TVnderful</h1>
        <p>Are your TV show still running or already ended?</p>
    </div>

    <table class="table table-striped">
        <tr>
            <th>Show</th>
            <th>Network</th>
            <th>Status</th>
        </tr>
        {% for show in shows|dictsort:"name" %}
        {% if show.status == "Running" %}
        <tr>
            <td><a href="{% url 'show_list' show.id %}">{{ show.name }}</a></td>
            <td>{{ show.network.name }}</td>
            <td style="color:green">{{ show.status }}</td>
        </tr>
        {% else %}
        <tr>
            <td><a href="{% url 'show_list' show.id %}">{{ show.name }}</a></td>
            <td>{{ show.network.name }}</td>
            <td style="color:red">{{ show.status }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

{% endblock %}